<div class="container">
    <form asp-action="RegisterHalisaha" asp-controller="HalisahaRezerve" method="post">
        <div>
            <textarea name="message"></textarea> 
        </div>
        <div>
            <button type="submit">Gönder</button>
        </div>
    </form>
</div>