@model RegisterHalisahaModel



<h1 class="h3">Register halisaha</h1>
<hr>
<div class="container form">


    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Halisaha" asp-action="RegisterHalisaha" method="POST">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="City" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @* <input class="form-control" asp-for="City"> *@
                        <div class="form-group">
                            <label for="name">Şehir Seçiniz:</label>
                            <select asp-for="City" name="city" id="">
                                <label for="name">Şehir</label>
                                <option value="adana">Adana</option>
                                <option value="adıyaman">Adıyaman</option>
                                <option value="afyonkarahisar">Afyonkarahisar</option>
                                <option value="ağrı">Ağrı</option>
                                <option value="amasya">Amasya</option>
                                <option value="ankara">Ankara</option>
                                <option value="antalya">Antalya</option>
                                <option value="artvin">Artvin</option>
                                <option value="aydın">Aydın</option>
                                <option value="balıkesir">Balıkesir</option>
                                <option value="bilecik">Bilecik</option>
                                <option value="bingöl">Bingöl</option>
                                <option value="bitlis">Bitlis</option>
                                <option value="bolu">Bolu</option>
                                <option value="burdur">Burdur</option>
                                <option value="bursa">Bursa</option>
                                <option value="çanakkale">Çanakkale</option>
                                <option value="çankırı">Çankırı</option>
                                <option value="çorum">Çorum</option>
                                <option value="denizli">Denizli</option>
                                <option value="diyarbakır">Diyarbakır</option>
                                <option value="edirne">Edirne</option>
                                <option value="elazığ">Elazığ</option>
                                <option value="erzincan">Erzincan</option>
                                <option value="erzurum">Erzurum</option>
                                <option value="eskişehir">Eskişehir</option>
                                <option value="gaziantep">Gaziantep</option>
                                <option value="giresun">Giresun</option>
                                <option value="gümüşhane">Gümüşhane</option>
                                <option value="hakkâri">Hakkâri</option>
                                <option value="hatay">Hatay</option>
                                <option value="ısparta">Isparta</option>
                                <option value="mersin">Mersin</option>
                                <option value="istanbul">İstanbul</option>
                                <option value="izmir">İzmir</option>
                                <option value="kars">Kars</option>
                                <option value="kastamonu">Kastamonu</option>
                                <option value="kayseri">Kayseri</option>
                                <option value="kırklareli">Kırklareli</option>
                                <option value="kırşehir">Kırşehir</option>
                                <option value="kocaeli">Kocaeli</option>
                                <option value="konya">Konya</option>
                                <option value="kütahya">Kütahya</option>
                                <option value="malatya">Malatya</option>
                                <option value="manisa">Manisa</option>
                                <option value="kahramanmaraş">Kahramanmaraş</option>
                                <option value="mardin">Mardin</option>
                                <option value="muğla">Muğla</option>
                                <option value="muş">Muş</option>
                                <option value="nevşehir">Nevşehir</option>
                                <option value="niğde">Niğde</option>
                                <option value="ordu">Ordu</option>
                                <option value="rize">Rize</option>
                                <option value="sakarya">Sakarya</option>
                                <option value="samsun">Samsun</option>
                                <option value="siirt">Siirt</option>
                                <option value="sinop">Sinop</option>
                                <option value="sivas">Sivas</option>
                                <option value="tekirdağ">Tekirdağ</option>
                                <option value="tokat">Tokat</option>
                                <option value="trabzon">Trabzon</option>
                                <option value="tunceli">Tunceli</option>
                                <option value="şanlıurfa">Şanlıurfa</option>
                                <option value="uşak">Uşak</option>
                                <option value="van">Van</option>
                                <option value="yozgat">Yozgat</option>
                                <option value="zonguldak">Zonguldak</option>
                                <option value="aksaray">Aksaray</option>
                                <option value="bayburt">Bayburt</option>
                                <option value="karaman">Karaman</option>
                                <option value="kırıkkale">Kırıkkale</option>
                                <option value="batman">Batman</option>
                                <option value="şırnak">Şırnak</option>
                                <option value="bartın">Bartın</option>
                                <option value="ardahan">Ardahan</option>
                                <option value="ığdır">Iğdır</option>
                                <option value="yalova">Yalova</option>
                                <option value="karabük">Karabük</option>
                                <option value="kilis">Kilis</option>
                                <option value="osmaniye">Osmaniye</option>
                                <option value="düzce">Düzce</option>

                            </select>
                        </div>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Content" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Content">
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Openning" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Openning">
                        <span asp-validation-for="Openning" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Closing" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Closing">
                        <span asp-validation-for="Closing" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}
