@model ResetPasswordModel


<div class="container form mt-4">
    <div class="mb-4 mt-3" style="text-align: center;">
        <h1><i class="fas fa-sign-in-alt"></i>Şifre Sıfırla</h1>
    </div>


    <form asp-controller="Auth" asp-action="ResetPassword" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Token">
        <div class="container">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="input-group mb-2 mt-1">
                <input class="textbox-green form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="container">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="input-group mb-2 mt-1">
                <input class="textbox-green form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>


        <div class="container">
            <div class="input-group mb-2 mt-1">
                <button type="submit" class="default-hover w-100">Login</button>
            </div>
        </div>
    </form>

</div>

@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}